$section-padding: 3rem;
$rodvig-red: #ee3427;
$caru-bg: rgba(0,0,0, 0.5);

// Global styling
html {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  margin-bottom: 0;
}
.pre {
  white-space: pre-wrap;
}
.odvig {
  fill: $body-font-color;
}
.rodvig-red {
  fill: $rodvig-red;
}
.ukblue {
  fill: #084CA1;
}
.columns:not(:last-child) {
  margin-bottom: 1rem;
}
.column:last-child:not(:first-child) {
  float: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

// Section specific styling
.top-bar {
  padding-left : 0;
  padding-right: 0;
  .top-bar-left {
    svg {
      margin-top: 0.25rem;
      display   : block;
      height    : 2rem;
      width     : 2*2000/332+rem;
    }
  }
  a {
    color      : $body-font-color;
    font-family: $header-font-family;
  }
  .dropdown.menu {
    text-transform: uppercase;
    li {
      display: inline-block;
    }
    li:first-child {
      margin-left: -$topbar-padding*0.8;
    }
    li a.switcher {
      padding-top   : 0;
      padding-bottom: 0;
    }
    svg {
      height: 1.5rem;
      width : 1.5rem;
    }
  }
}

// Mobile bar
.title-bar {
  color     : $body-font-color;
  background: $white;
  .menu-icon::after {
    background: $body-font-color;
    box-shadow: 0 7px 0 $body-font-color, 0 14px 0 $body-font-color;
  }
  svg {
    float: right;
    width: 8rem;
  }
}

// Carousel
.owl-carousel {
  color        : white;
  margin-bottom: $section-padding*0.5;
  .item {
    height    : 70vh;
    max-height: 80vw;
    background-size: cover;
  }
  .owl-text {
    padding-top: 4rem;
    div {
      margin-bottom: 1rem;
    }
  }
  h1 {
    display         : inline;
    line-height     : 1.38;
    background-color: $caru-bg;
  }
  p {
    line-height     : 1.34;
    background-color: $caru-bg;
    display         : inline;
  }
}

// Site sections
.section {
  padding-bottom: $section-padding;
  padding-top   : $section-padding;
}

// Bags
#intro {
  img {
    margin   : 0 auto 0.5rem;
    display  : block;
    width    : 100%;
    max-width: 50vw;
  }
}

// Bags
#bags {
  color           : $white;
  background-color: $body-font-color;
  img {
    margin-bottom: 0.5rem;
  }
}

// Footer
footer {
  background-color: $body-font-color;
  color           : $white;
  padding-top     : 4rem;
  padding-bottom  : 2rem;
  .odvig {
    fill: $white;
  }
  svg {
    max-height   : 2rem;
    margin-top   : 0.5rem;
    margin-bottom: 0.5rem;
  }
  .profile {
    margin-bottom: 2rem;
  }
  img {
    max-width    : 6rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: inherit !important;
    &:hover {
      text-decoration: underline;
    }
  }
  .copyright {
    padding-top: 1.5rem;
    opacity    : 0.5;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .owl-carousel {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.875rem;
    }
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .owl-carousel {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}
