$section-padding: 2rem;

// Global styling
html {
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  margin-bottom: 0;
}
.pre {
  white-space: pre-wrap;
}
.odvig {
  fill: $body-font-color;
}

// Section specific styling
.top-bar {
  padding-left : 0;
  padding-right: 0;
  .top-bar-left {
    svg {
      margin-top: 0.25rem;
      display   : block;
      max-width : 12rem;
    }
  }
  a {
    color      : $body-font-color;
    font-family: $header-font-family;
  }
  .dropdown.menu {
    li {
      display: inline-block;
    }
    li:first-child {
      margin-left: -$topbar-padding*0.8;
    }
    li:last-child {
      margin-right: -$topbar-padding*0.5;
    }
  }
}

// Mobile bar
.title-bar {
  color     : $body-font-color;
  background: $white;
  .menu-icon::after {
    background: $body-font-color;
    box-shadow: 0 7px 0 $body-font-color, 0 14px 0 $body-font-color;
  }
  svg {
    float: right;
    width: 8rem;
  }
}

// Carousel
.owl-carousel {
  color           : white;
  background-color: $body-font-color;
  margin-bottom   : $section-padding;
  .item {
    height    : 80vh;
    max-height: 600px;
  }
  .owl-text {
    position: absolute;
    top     : 10%;
    left    : 5%;
    right   : 5%;
    .row {
      position: relative;
    }
  }
  img {
    margin  : auto;
    position: absolute;
    top     : 0;
    left    : 0;
    bottom  : 0;
    right   : 0;
  }
}

// Site sections
.section {
  padding-bottom: $section-padding;
  padding-top   : $section-padding;
}

// Bags
#bags {
  color           : $white;
  background-color: $body-font-color;
  img {
    margin-bottom: 0.5rem;
  }
}

// Footer
footer {
  background-color: $body-font-color;
  color           : $white;
  padding-top     : 2rem;
  padding-bottom  : 2rem;
  .odvig {
    fill: $white;
  }
  svg {
    max-width: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .profile {
    margin-bottom: 2rem;
  }
  img {
    max-width    : 6rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: inherit !important;
    &:hover {
      text-decoration: underline;
    }
  }
  .copyright {
    padding-top: 1.5rem;
    opacity    : 0.5;
  }
}
